.widget_review_item {
    list-style: none;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 2px;
    padding-left: 5px;
}

.widget_review_title {
    display: inline-block;
    font-weight: bold;
}

.widget_review_excerpt {
    display: block;
    font-style: italic;
    margin-bottom: 5px !important;
}

.widget_review_author {
    text-align: right;
    color: darkgrey;
    font-size: 11px;
    margin-right: 5px;
    margin-bottom: 0 !important;
}